backports-abc
cycler
decorator
ipykernel
ipython
ipython-genutils
ipywidgets
Jinja2
jsonschema
ipywidgets
jupyter
jupyter-client
jupyter-console
jupyter-core
Keras
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
pandas
path.py
pexpect
pickleshare
protobuf
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
qtconsole
scikit-learn
scipy
simplegeneric
six
tensorflow
terminado
Theano
tornado
traitlets
Werkzeug
celery
jupyterthemes